In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
csv = 'la_airbnb_02_13_2020_listings.csv'

In [3]:
df = pd.read_csv(csv)

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,Other Cities,Culver City,33.98209,-118.38494,Entire home/apt,122,30,2,2016-05-15,0.02,1,0
1,344,Family perfect;Pool;Near Studios!,767,Melissa,Other Cities,Burbank,34.16562,-118.33458,Entire home/apt,168,2,8,2019-10-19,0.18,1,119
2,2708,Mirrored Mini-Suite with Fireplace - W. Hollywood,3008,Chas.,City of Los Angeles,Hollywood,34.09768,-118.34602,Private room,79,30,23,2019-12-12,0.33,2,304
3,2732,Zen Life at the Beach,3041,Yoga Priestess,Other Cities,Santa Monica,34.00475,-118.48127,Private room,140,1,21,2019-12-27,0.20,2,337
4,2864,*Upscale Professional Home with Beautiful Studio*,3207,Bernadine,Other Cities,Bellflower,33.87619,-118.11397,Entire home/apt,80,2,0,NaN,NaN,1,0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38851 entries, 0 to 38850
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38851 non-null  int64
 1   name                            38849 non-null  object
 2   host_id                         38851 non-null  int64
 3   host_name                       38849 non-null  object
 4   neighbourhood_group             38851 non-null  object
 5   neighbourhood                   38851 non-null  object
 6   latitude                        38851 non-null  float64
 7   longitude                       38851 non-null  float64
 8   room_type                       38851 non-null  object
 9   price                           38851 non-null  int64
 10  minimum_nights                  38851 non-null  int64
 11  number_of_reviews               38851 non-null  int64
 12  last_review                     31171 non-null  object
 13  reviews_per_month               31171 non-null  float64
 14  calculated_host_listings_count  38851 non-null  int64
 15  availability_365                38851 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.7+ MB

In [6]:
df.shape

(38851, 16)

In [7]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [8]:
df['neighbourhood_group'].value_counts()

City of Los Angeles     22890
Other Cities            13093
Unincorporated Areas     2868
Name: neighbourhood_group, dtype: int64

In [31]:
df['neighbourhood'].value_counts(sort=True)

Venice                  1971
Hollywood               1931
Long Beach              1793
Downtown                1403
Santa Monica            1298
                        ...
Hawaiian Gardens           1
Chatsworth Reservoir       1
Ridge Route                1
Cudahy                     1
South Diamond Bar          1
Name: neighbourhood, Length: 264, dtype: int64

In [32]:
df['neighbourhood'].value_counts(normalize=True)

Venice                  0.050732
Hollywood               0.049703
Long Beach              0.046151
Downtown                0.036112
Santa Monica            0.033410
                          ...
Hawaiian Gardens        0.000026
Chatsworth Reservoir    0.000026
Ridge Route             0.000026
Cudahy                  0.000026
South Diamond Bar       0.000026
Name: neighbourhood, Length: 264, dtype: float64

In [23]:
exp_nbh = df[['neighbourhood', 'price']]
exp_nbh.shape

(38851, 2)

In [33]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [51]:
len(df.columns)

16

In [45]:
#Indexing
df_ind = df.set_index('neighbourhood')
df_nbh = df_ind.loc[['Venice', 'Hollywood', 'Long Beach', 'Hollywood', "Downtown", 'Santa Monica', 
                     'Pasadena', 'South Pasadena', 'Alhambra']]
df_nbh.shape

(11289, 15)

In [65]:
df_nbh.head()

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,,,,,,
Venice,8770,Cozy Guest House on Venice Walk St.,26996,Lillian,City of Los Angeles,33.99399,-118.45637,Entire home/apt,121,3,400,2020-01-29,3.21,1,361
Venice,9376,"Bright Apt, walk to Venice Beach",30319,Cristina,City of Los Angeles,33.99638,-118.47734,Private room,85,30,46,2019-11-04,0.36,2,357
Venice,11877,Le petit bungalow private entrance + bikes in VB,30484,Pascalou,City of Los Angeles,33.99753,-118.47226,Entire home/apt,90,30,45,2019-11-12,0.44,2,5
Venice,15440,Venice Beach Walkstreet Getaway,60473,Madeleine,City of Los Angeles,33.99359,-118.46049,Entire home/apt,140,2,811,2020-02-07,6.61,1,237
Venice,18041,Bohemian home w/detached Studio & Rooftop Jacuzzi,69546,Lisa,City of Los Angeles,33.99138,-118.45087,Entire home/apt,300,2,1,2019-10-24,0.27,3,9

# Create Sample DataFrames, Aggregate Data, and Statistical Analysis

In [56]:
pasadena = df_ind.loc['Pasadena']
pasadena.shape

(543, 15)

In [57]:
alhambra = df_ind.loc['Alhambra']
alhambra.shape

(331, 15)

In [58]:
downtown = df_ind.loc['Downtown']
downtown.shape

(1403, 15)

In [60]:
south_pasadena = df_ind.loc['South Pasadena']
south_pasadena.shape

(88, 15)

In [61]:
santa_monica = df_ind.loc['Santa Monica']
santa_monica.shape

(1298, 15)

In [62]:
holly_wood = df_ind.loc['Hollywood']
holly_wood.shape

(1931, 15)

In [63]:
venice = df_ind.loc['Venice']
venice.shape

(1971, 15)

In [68]:
alhambra

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,,,,,,
Alhambra,604321,Home Away from Home,2916726,Andres & Pixie,Other Cities,34.09248,-118.11802,Entire home/apt,85,15,53,2020-01-31,0.74,1,198
Alhambra,723941,Private Newly Renovated Guest House,3736617,Alejandro,Other Cities,34.07955,-118.14246,Entire home/apt,91,2,55,2019-11-12,0.62,1,229
Alhambra,804614,Spanish home near downtown Los Angeles & Pasadena,4080305,Shawn,Other Cities,34.08931,-118.15349,Entire home/apt,250,3,34,2019-07-28,0.39,1,355
Alhambra,1127658,Safe and located in the middle of LA metro area,6180536,Scott,Other Cities,34.09221,-118.15056,Entire home/apt,899,1,0,NaN,NaN,4,365
Alhambra,1177827,"Bright, Unfurnished Private Room Quiet Area",6444223,Melanie,Other Cities,34.07222,-118.14743,Private room,28,90,0,NaN,NaN,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Alhambra,41718300,Prime Location 2Bed/1Bath private entrance! B,50488861,Mj,Other Cities,34.07499,-118.12387,Entire home/apt,105,1,0,NaN,NaN,8,265
Alhambra,41729516,POP UP IN SGV WELCOME!!NEW YEARS CHEERS,311494653,Anthony,Other Cities,34.09501,-118.12469,Entire home/apt,250,3,0,NaN,NaN,1,179
Alhambra,42006286,"Mission Flats 2, amazing location nr Downtown LA!",332321860,Edgar,Other Cities,34.09390,-118.13202,Entire home/apt,99,2,0,NaN,NaN,1,160
Alhambra,42021318,Large townhouse with high rise ceilings,153990972,Paul,Other Cities,34.09796,-118.12165,Private room,100,1,0,NaN,NaN,1,54
Alhambra,42248833,Brand new bedroom with individual washroom,277715728,Eva,Other Cities,34.07261,-118.11999,Private room,55,3,0,NaN,NaN,1,188

In [30]:
avg_nbh_price = df.pivot_table(values='price', index='neighbourhood')
avg_nbh_price

                      price
neighbourhood
Acton            109.800000
Adams-Normandie   95.780000
Agoura Hills     205.976744
Agua Dulce       161.384615
Alhambra          96.631420
...                     ...
Willowbrook      124.277778
Wilmington        63.029412
Windsor Square   485.608696
Winnetka          97.084337
Woodland Hills   213.500000

[264 rows x 1 columns]

In [28]:
avg_nbh_stats = df.pivot_table(values='price', index='neighbourhood', 
                               aggfunc=[np.min, np.max, np.mean, np.median])
avg_nbh_stats

                 amin   amax        mean median
                price  price       price  price
neighbourhood
Acton              30    255  109.800000   95.0
Adams-Normandie    25    300   95.780000   61.0
Agoura Hills       40   1795  205.976744   80.0
Agua Dulce         55    750  161.384615   79.0
Alhambra           10    899   96.631420   68.0
...               ...    ...         ...    ...
Willowbrook        25    350  124.277778   80.0
Wilmington         45    139   63.029412   61.0
Windsor Square     34  10000  485.608696  112.0
Winnetka           29    276   97.084337   79.0
Woodland Hills     30   9000  213.500000   89.5

[264 rows x 4 columns]

In [66]:
#nbh_rentals = df.pivot(values=[['price', 'room_type']], index='neighbourhood')

In [50]:
new_nbh_stats = df_nbh.pivot_table(values='price', index='neighbourhood', 
                               aggfunc=[np.min, np.max, np.mean, np.median])
new_nbh_stats

                amin   amax        mean median
               price  price       price  price
neighbourhood
Alhambra          10    899   96.631420   68.0
Downtown          19  10000  272.434783  148.0
Hollywood         10  10000  165.778871  119.0
Long Beach         0  10000  190.833240  100.0
Pasadena          17   2000  154.596685  110.0
Santa Monica      35  10000  219.768875  149.0
South Pasadena    40   1000  206.352273  122.5
Venice            39  10000  269.026383  175.0