In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
csv = 'la_airbnb_02_13_2020_listings.csv'

In [3]:
df = pd.read_csv(csv)

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,Other Cities,Culver City,33.98209,-118.38494,Entire home/apt,122,30,2,2016-05-15,0.02,1,0
1,344,Family perfect;Pool;Near Studios!,767,Melissa,Other Cities,Burbank,34.16562,-118.33458,Entire home/apt,168,2,8,2019-10-19,0.18,1,119
2,2708,Mirrored Mini-Suite with Fireplace - W. Hollywood,3008,Chas.,City of Los Angeles,Hollywood,34.09768,-118.34602,Private room,79,30,23,2019-12-12,0.33,2,304
3,2732,Zen Life at the Beach,3041,Yoga Priestess,Other Cities,Santa Monica,34.00475,-118.48127,Private room,140,1,21,2019-12-27,0.20,2,337
4,2864,*Upscale Professional Home with Beautiful Studio*,3207,Bernadine,Other Cities,Bellflower,33.87619,-118.11397,Entire home/apt,80,2,0,NaN,NaN,1,0

In [5]:
df.info

<bound method DataFrame.info of              id                                               name    host_id  \
0           109  Amazing bright elegant condo park front *UPGRA...        521
1           344                  Family perfect;Pool;Near Studios!        767
2          2708  Mirrored Mini-Suite with Fireplace - W. Hollywood       3008
3          2732                              Zen Life at the Beach       3041
4          2864  *Upscale Professional Home with Beautiful Studio*       3207
...         ...                                                ...        ...
38846  42251431         Cedars Sinai Gorgeous 2 bedroom 2 bathroom   17739626
38847  42252474     Relaxing studio minutes away from the beach!!!    9745832
38848  42252493   Stylish & Spacious 2BR Duplex close to the Beach  293807554
38849  42253723                 Luxury Marina WaterFront Apartment   27798046
38850  42254828    Perfect Valley Retreat w Pool and Free Parking!    3152735

            host_name   neighbourhood_group   neighbourhood   latitude  \
0               Paolo          Other Cities     Culver City  33.982090
1             Melissa          Other Cities         Burbank  34.165620
2               Chas.   City of Los Angeles       Hollywood  34.097680
3      Yoga Priestess          Other Cities    Santa Monica  34.004750
4           Bernadine          Other Cities      Bellflower  33.876190
...               ...                   ...             ...        ...
38846          Cheryl   City of Los Angeles   Beverly Grove  34.071470
38847         Tatiana  Unincorporated Areas  Marina del Rey  33.968415
38848          Alexis          Other Cities    Santa Monica  34.007599
38849      Konstantin  Unincorporated Areas  Marina del Rey  33.974649
38850          Sylvia   City of Los Angeles        Van Nuys  34.195198

        longitude        room_type  price  minimum_nights  number_of_reviews  \
0     -118.384940  Entire home/apt    122              30                  2
1     -118.334580  Entire home/apt    168               2                  8
2     -118.346020     Private room     79              30                 23
3     -118.481270     Private room    140               1                 21
4     -118.113970  Entire home/apt     80               2                  0
...           ...              ...    ...             ...                ...
38846 -118.380998  Entire home/apt    265              30                  0
38847 -118.451753  Entire home/apt     99               2                  0
38848 -118.487223  Entire home/apt    295               3                  0
38849 -118.450420  Entire home/apt    199               2                  0
38850 -118.477788  Entire home/apt     80              30                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2016-05-15               0.02                               1
1      2019-10-19               0.18                               1
2      2019-12-12               0.33                               2
3      2019-12-27               0.20                               2
4             NaN                NaN                               1
...           ...                ...                             ...
38846         NaN                NaN                               9
38847         NaN                NaN                               3
38848         NaN                NaN                               1
38849         NaN                NaN                               1
38850         NaN                NaN                               3

       availability_365
0                     0
1                   119
2                   304
3                   337
4                     0
...                 ...
38846               361
38847               264
38848               322
38849               164
38850               340

[38851 rows x 16 columns]>

In [6]:
df.shape

(38851, 16)

In [7]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [8]:
df['neighbourhood_group'].value_counts()

City of Los Angeles     22890
Other Cities            13093
Unincorporated Areas     2868
Name: neighbourhood_group, dtype: int64

In [31]:
df['neighbourhood'].value_counts(sort=True)

Venice                  1971
Hollywood               1931
Long Beach              1793
Downtown                1403
Santa Monica            1298
                        ...
Hawaiian Gardens           1
Chatsworth Reservoir       1
Ridge Route                1
Cudahy                     1
South Diamond Bar          1
Name: neighbourhood, Length: 264, dtype: int64

In [32]:
df['neighbourhood'].value_counts(normalize=True)

Venice                  0.050732
Hollywood               0.049703
Long Beach              0.046151
Downtown                0.036112
Santa Monica            0.033410
                          ...
Hawaiian Gardens        0.000026
Chatsworth Reservoir    0.000026
Ridge Route             0.000026
Cudahy                  0.000026
South Diamond Bar       0.000026
Name: neighbourhood, Length: 264, dtype: float64

In [23]:
exp_nbh = df[['neighbourhood', 'price']]
exp_nbh.shape

(38851, 2)

In [33]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

# Create Sample DataFrames, Aggregate Data, and Statistical Analysis

In [30]:
avg_nbh_price = df.pivot_table(values='price', index='neighbourhood')
avg_nbh_price

                      price
neighbourhood
Acton            109.800000
Adams-Normandie   95.780000
Agoura Hills     205.976744
Agua Dulce       161.384615
Alhambra          96.631420
...                     ...
Willowbrook      124.277778
Wilmington        63.029412
Windsor Square   485.608696
Winnetka          97.084337
Woodland Hills   213.500000

[264 rows x 1 columns]

In [28]:
avg_nbh_stats = df.pivot_table(values='price', index='neighbourhood', 
                               aggfunc=[np.min, np.max, np.mean, np.median])
avg_nbh_stats

                 amin   amax        mean median
                price  price       price  price
neighbourhood
Acton              30    255  109.800000   95.0
Adams-Normandie    25    300   95.780000   61.0
Agoura Hills       40   1795  205.976744   80.0
Agua Dulce         55    750  161.384615   79.0
Alhambra           10    899   96.631420   68.0
...               ...    ...         ...    ...
Willowbrook        25    350  124.277778   80.0
Wilmington         45    139   63.029412   61.0
Windsor Square     34  10000  485.608696  112.0
Winnetka           29    276   97.084337   79.0
Woodland Hills     30   9000  213.500000   89.5

[264 rows x 4 columns]